<html lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="table">
    <thead>
    <tr>
        <th>Config</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><strong>Plugin</strong></td>
        <td>Komm.ONE Jobs</td>
    </tr>
    <tr>
        <td><strong>Endpoint</strong></td>
        <td>{pi_flexform_transformed.settings.endpoint}</td>
    </tr>
    <tr>
        <td><strong>Type</strong></td>
        <td>{pi_flexform_transformed.settings.type}</td>
    </tr>
    <tr>
        <td><strong>Channel</strong></td>
        <td>{pi_flexform_transformed.settings.channel}</td>
    </tr>
    </tbody>
</table>
</html>
