<html lang="en"
      xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<form id="kommonejobsSearchForm" class="form-horizontal" method="post" name="search" action="{f:uri.action(action: 'search', controller: 'Job', section: 'c{data.uid}')}">
    <div class="form-group">
        <label for="typeFilter" class="col-sm-3">{f:translate(key: 'label.employmentType')}</label>
        <div class="col-sm-9">
            <select id="typeFilter"
                    class="form-control"
                    type="text"
                    onChange="this.form.submit();"
                    name="tx_kommonejobs_job[timeModel]">
                <f:for each="{timeModelFilter}" as="timeModel" iteration="iterator">
                    <f:variable name="label">
                        <f:if condition="{timeModel}=='all'">
                            <f:then>{f:translate(key: 'filter.employmentType.all')}</f:then>
                            <f:else>{timeModel}</f:else>
                        </f:if>
                    </f:variable>
                    <f:if condition="{timeModel} == {selectedTimeModel}">
                        <f:then>
                            <option value="{timeModel}" selected="selected">{label}</option>
                        </f:then>
                        <f:else>
                            <option value="{timeModel}">{label}</option>
                        </f:else>
                    </f:if>
                </f:for>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="searchJob" class="col-sm-3">{f:translate(key: 'button.search')}</label>
        <div class="col-sm-9">
            <input id="searchJob"
                   class="form-control"
                   type="text"
                   name="tx_kommonejobs_job[search]"
                   value="{search}"/>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control"
               type="submit"
               value="{f:translate(key: 'button.search')}"/>
    </div>
</form>
</html>
