<html lang="en"
      xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<form id="kommonejobsSearchForm" class="form-horizontal" method="post" name="search" action="{f:uri.action(action: 'search', controller: 'Job', section: 'c{data.uid}')}">
    <div class="form-group">
        <label for="typeFilter" class="col-sm-3">{f:translate(key: 'label.employmentType')}</label>
        <div class="col-sm-9">
            <select id="typeFilter"
                    class="form-control"
                    type="text"
                    name="tx_kommonejobs_job[timeModel]">
                <f:for each="{timeModelFilter}" as="timeModel">
                    <f:if condition="{timeModel} == {selectedTimeModel}">
                        <f:then>
                            <option name="{timeModel}" selected="selected">{timeModel}</option>
                        </f:then>
                        <f:else>
                            <option name="{timeModel}">{timeModel}</option>
                        </f:else>
                    </f:if>
                </f:for>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="searchJob" class="col-sm-3">{f:translate(key: 'button.search')}</label>
        <div class="col-sm-9">
            <input id="searchJob"
                   class="form-control"
                   type="text"
                   name="tx_kommonejobs_job[search]"
                   value="{search}"/>
        </div>
    </div>
    <div class="form-group">
        <input class="form-control"
               type="submit"
               value="Search"/>
    </div>
</form>
</html>
