<html lang="en"
      xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<form id="kommonejobsSearchForm" class="form-horizontal" method="get" name="search" action="{f:uri.page()}">
    <input type="hidden" name="tx_kommonejobs_job[controller]" value="Job"/>
    <input type="hidden" name="tx_kommonejobs_job[action]" value="search"/>
    <div class="form-group">
        <label for="searchJob" class="col-sm-3">Search</label>
        <div class="col-sm-9">
            <input id="searchJob"
                   class="form-control"
                   type="text"
                   name="tx_kommonejobs_job[search]"
                   value="{search}"/>
        </div>
    </div>
</form>
</html>
